* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    background-image:transparent;
    padding: 0 16px;
  }
  
  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff9c4;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 250px;
    margin: 15px;
    position: relative;
    display: inline-block;
    word-wrap: break-word;
  }
  
  .note h1 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #333;
  }
  
  .note p {
    font-size: 1rem;
    color: #666;
    flex-grow: 1;
  }
  
  .delete-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: #ff5252;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  
  .delete-btn:hover {
    background: #d50000;
  }
  
  form.create-note {
    position: relative;
    width: 500px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  
  .alert {
    display: block;
  }
  
  .error {
    background: red;
    color: white;
    margin: 20px auto;
    padding: 10px;
    font-weight: 700;
    width: 50%;
    border-radius: 5px;
  }
  .edit-window {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
  }
  .edit-window input {
    width: 100%;
    height: 50px;
  }
  .hide-window {
    display: none;
  }
  
  .cancel-button:hover {
    cursor: pointer;
    width: 30px;
    margin: 0;
    background-color: red;
  }
  .hide-note {
    display: none;
  }
  input {
    width: 75%;
  }
  .form-popup input {
    margin-left: 50px;
    margin-bottom: 25px;
    width: 75%;
  }
  .save-button {
    width: 300px;
    height: 50px;
    margin-left: 50px;
  }
  label {
    margin: 10px 20px;
  }
  